<% a = 0 %>
<% b = 1 %>
<ul style="list-style: none;" class="items">
  <% @items.each_slice(10) do |row| %>
	<li class="section_<%= a+1 %>">
  	<% a = a + 1 %>
  	<% row.each do |item| %>
        <div>
          <strong>Name</strong>: <%= item.name %>
        </div>
        <div>
          <strong>Category</strong>: <%= item.category %>
        </div>
        <div>
          <strong>Price</strong>: <%= number_to_currency(item.price_in_cents / 100) %>
        </div>
      	<br/>
  	<% end %>
	</li>
  <% end %>

</ul>
<ul class="link_list">
  <% a.times do %>
	<li style="display: inline;" class="link_<%= b%>">
    <%= " | " %>
  	<a href="display: none;" class="link_<%= b%>" number="<%= b %>">
    <%= "#{b}" %>
  	</a>
    <%= " | " %>
	</li>
	<% b += 1 %>
  <% end %>
</ul>
